.welcomeMessage {
    width: 100%;
    margin-bottom: 40px;
}

.welcomeMessage h2 {
    color: rgb(38,153,251);
    font-family: 'Calibri';
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.welcomeMessage p {
    color: rgb(121,192,252);
    font-family: 'Calibri';
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}