.checkboxContainer {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    flex-grow: 1;
}

a {
    color: rgb(38,153,251);
    font-family: 'Calibri';
    font-size: 16px;
    font-weight: 600; 
    text-decoration: none;
}


.checkbox  {
    color: rgb(38,153,251);
    display: block;
    position: relative;
    padding-left: 35px;
}

.checkbox input:checked {
    height: 20px;
    left: -2px;
    opacity: 1;
    position: absolute;
    top: -1px;
    width:20px;
    z-index: 1000;
}

.checkbox input {
    height: 20px;
    left: -2px;
    opacity: 0.0001;
    position: absolute;
    top: -1px;
    width:20px;
    z-index: 1000;
}

.checkmark {
    border-radius: 5px;
    border: 2px rgb(38,153,251) solid;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }