
.loginContainer {
    align-items: center;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    min-height: 950px;
    width: 450px;
}